<!-- BEGIN Bottles Index (Authenticated) include -->
<div class="">
  <div class="mb-5">
    <h2>Bottles</h2>
    <%= form_with method: :get do |form| %>
      <%= form.label :query, "Search for bottle:" %>
      <%= form.text_field :query, value: @query %>
      <%= form.submit "Search" %>
    <% end %>
  </div>
  <% if @query %>
    <h3>Bottles in OLCC</h3>
  <% else %>
    <h3>List of My Bottles</h3>
  <% end %>
  <table class="table table-striped table-hover align-top mb-5 table-feature-comparison">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody class="table-striped table-group-divider align-middle">
    <% @olcc_bottles.each_with_index do |bottle, index| %>
      <tr>
        <td><%= link_to bottle.name, bottle %></td>
        <td><%= number_to_currency(bottle.bottle_price) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<!-- END Bottles Index (Authenticated) include -->
