<!-- BEGIN User Show include -->
<div class="mb-5">
  <div class="mb-5">
    <h2>User Profile for <span class="fst-italic text-primary"><%= @user.first_name + " " + @user.last_name %></span></h2>
    <div class="col">
      <form class="needs-validation" novalidate="">
        <div class="row">
          <div class="col-sm-6 mb-5">
            <label for="firstName" class="form-label fw-bold">First name</label>
            <input type="text" class="form-control" id="first_name" placeholder="" value="<%= @user.first_name %>" required>
            <div class="invalid-feedback">Valid first name is required.</div>
          </div>
          <div class="col-sm-6 mb-5">
            <label for="lastName" class="form-label fw-bold">Last name</label>
            <input type="text" class="form-control" id="last_name" placeholder="" value="<%= @user.last_name %>" required>
            <div class="invalid-feedback">Valid last name is required.</div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-5">
            <label for="email" class="form-label fw-bold">Email address</label>
            <p class="fst-italic small">Your email address is used for notifications and password reset links.</p>
            <input type="email" class="form-control" id="email" placeholder="you@example.com" value="<%= @user.email %>" required>
            <div class="invalid-feedback">Please enter a valid email address.</div>
          </div>
          <div class="col-sm-6"></div>
        </div>
        <div class="row">
          <div class="col-sm-6 mb-5">
            <label for="username" class="form-label fw-bold">Username</label>
            <p class="fst-italic small">This is your display name as it appears to other users.</p>
            <div class="input-group has-validation">
              <input type="text" class="form-control" id="username" placeholder="Username" value="<%= "@user.username (add to model)" %>" required>
              <div class="invalid-feedback">Your username is required.</div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-5">
            <label class="form-label fw-bold">Followed categories</label>
            <p class="fst-italic small">Specify the bottle categories you'd like to follow.</p>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="category-1">
              <label class="form-check-label" for="category-1">Domestic Whiskey</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="category-2">
              <label class="form-check-label" for="category-2">Rum</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 mb-5">
            <label class="form-label fw-bold">Terms and conditions acknowledgements</label>
            <p class="fst-italic small">These fields are read-only.</p>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="ack-age" checked disabled readonly>
              <label class="form-check-label fst-italic" for="ack-age">I affirm that I am at least 21 years of age.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="ack-resident" checked disabled readonly>
              <label class="form-check-label fst-italic" for="ack-resident">I affirm that I am a legal resident of the state of Oregon.</label>
            </div>
            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="ack-tc" checked disabled readonly>
              <label class="form-check-label fst-italic" for="ack-tc">I affirm that I have agreed to the terms and conditions of this site.</label>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <button class="btn btn-primary" type="submit">Save User Profile</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="mb-5">
    <h3>Reset Password</h3>
    <form class="needs-validation" novalidate="">
      <p class="fst-italic small">Click the button below to have a password reset link sent to the email address on file for your account.</p>
      <button class="btn btn-outline-danger" type="submit">Email Password Reset Link</button>
    </form>
  </div>
</div>
<!-- END User Show include -->
