<h1>Home Page</h1>
Welcome, <%= @user.first_name %>
<h2>Other Pages:</h2>
<ul>
    <li> <a href="/olcc_bottles">Bottles you follow</a>
    <li> <a href="/olcc_stores">Stores you go to</a>
</ul>

<h2>Recent Events:</h2>
<% if @events.none? %>
  <h3>No news is boring</h3>
<% else %>
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Bottle</th>
        <th>Info</th>
      </tr>
    </thead>
    <tbody>
      <% @events.each_with_index do |event, index| %>
        <tr class="<%= index.even? ? 'even-row' : 'odd-row' %>">
          <td><%=  format_date(event) %></td>
          <td><%= link_to event.olcc_bottle.name, event.olcc_bottle %></td>
          <td><%= show_event(event) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<%end %>

<% if @prev_page %>
<br><%= link_to "Previous", home_path(page: @prev_page) %>
<% end %>
<br><%= link_to "Next", home_path(page: @next_page) %>
