<!-- BEGIN Home include -->
<div class="row">
  <div class="col">
    <%= render 'shared/flashes' %>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 order-lg-2">
    <% if user_signed_in? %>
      <%= render 'layouts/sidebar/user_menu_authenticated' %>
    <% else %>
      <%= render 'layouts/sidebar/home_anonymous' %>
    <% end %>
  </div>
  <div class="col-lg-8 order-lg-1">
    <!-- BEGIN Main Body Content include -->
    <% if user_signed_in? %>
      <%= render 'layouts/content/home_authenticated' %>
    <% else %>
      <%= render 'layouts/content/home_anonymous' %>
    <% end %>
    <!-- END Main Body Content include -->
  </div>
</div>
