<div class="row">
  <div class="col">
    <div class="alert alert-primary" role="alert">
      <p class="m-0 p-0"><i class="fa-regular fa-message me-2 fs-4 align-middle"></i>Welcome, <%= @user.first_name %>!</p>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 order-lg-2">
    <%= render 'layouts/sidebar/user_menu_authenticated' %>
  </div>
  <div class="col-lg-8 order-lg-1">
    <!-- BEGIN Main Body Content include -->
    <%#= // TODO: Replace the if true check below with the helper function for user auth check %>
    <% if true %>
      <%= render 'layouts/content/home_authenticated' %>
    <% else %>
      <%= render 'layouts/content/home_anonymous' %>
    <% end %>
    <!-- END Main Body Content include -->
  </div>
</div>

<p><em>Warning: some hacky UI stuff below:</em></p>

Logged in: <%= user_signed_in? %>

<p>
<% if user_signed_in? %>
  <%= form_with url: destroy_user_session_path, method: :delete do |form| %>
    <%= form.button "Logout" %>
  <% end %>
  <p>
    <em>Hacky admin function I don't want to lose:</em><br>
    Add a bottle based on the OLCC new item code:
    <%= form_with url: olcc_bottles_path do |form| %>
      <div>
        <%= form.label :new_item_code %>
        <%= form.text_field :new_item_code %>
        <%= category_select(form) %>
      </div>
      <div>
        <%= form.submit "Search" %>
      </div>
    <% end %>
<% else %>
  <%= link_to "Login or signup page", new_user_session_path %>
<% end %>
