<%= stylesheet_link_tag "tables" %>


<h2><%= @store.name %><br></h2>
<%= @store.address %><br>
<%= @store.store_hours %><br>

<h2>
Inventory
</h2>

<table>
  <thead>
    <tr>
      <th>Item Code</th>
      <th>Name</th>
      <th>Price</th>
      <th>Quantity</th>
    </tr>
  </thead>
  <tbody>
  <% @inventory.each_with_index do |inv, index| %>
      <tr class="<%= index.even? ? 'even-row' : 'odd-row' %>">
        <td><%= inv.olcc_bottle.new_item_code %></td>
        <td><%= link_to inv.olcc_bottle.name, inv.olcc_bottle %></td>
        <td><%= number_to_currency(inv.olcc_bottle.bottle_price) %></td>
        <td class="right"><%= inv.quantity %></td>
      </tr>
    <% end %>
  </tbody>
</table>
