<!doctype html>
<html lang="en">
<head>
  <%= render 'layouts/components/head' %>
</head>
<body>
  <div class="container my-4">
    <!-- BEGIN page container -->
    <%= render 'layouts/components/header' %>
    <main>
      <%= yield %>
    </main>
    <!-- END Body include -->
    <%= render 'layouts/components/footer' %>
  </div><!-- END page container -->
  <%= render 'layouts/components/foot' %>
  <%= javascript_include_tag 'application'%>
</body>
</html>
